// DMSans
@font-face {
  font-family: "DMSans-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("DMSans-Bold"), url("../fonts/DMSans-Bold.woff2") format("woff2"),
    url("../fonts/DMSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "DMSans-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("DMSans-Medium"), url("../fonts/DMSans-Medium.woff2") format("woff2"),
    url("../fonts/DMSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "DMSans-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("DMSans-Regular"), url("../fonts/DMSans-Regular.woff2") format("woff2"),
    url("../fonts/DMSans-Regular.woff") format("woff");
}
// rubik
@font-face {
  font-family: "Rubik-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Rubik-Bold"), url("../fonts/Rubik-Bold.woff2") format("woff2"),
    url("../fonts/Rubik-Bold.woff") format("woff");
}
@font-face {
  font-family: "Rubik-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
}
@font-face {
  font-family: "Rubik-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Rubik-Regular"), url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff") format("woff");
}
// rubik
