body {
  @extend %r-r;
  font-size: 14px;
  line-height: 1.88;
}
.burger {
  width: 30px;
  height: 20px;
  position: relative;
  display: block;
  cursor: pointer;
  display: none;
  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    background-color: #ffffff;
    transition: all 0.5s ease;
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s ease;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  &.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  &.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  &.active span {
    transform: scale(0);
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  font-size: 16px;
  color: $port;
  line-height: 1.31;
  @extend %d-b;
  padding-bottom: 14px;
  text-transform: uppercase;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
