@media (max-width: 1000px) {
  .header {
    &__navigation {
      order: -1;
    }
  }
  .menu {
    &__list {
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      left: 0;
      top: 0;
      z-index: 1;
      background-color: #fff;
      width: 100%;
      height: 400px;
      text-align: center;
      margin-top: 30px;
      transform: translateY(-300%);
      transition: all 0.5s;
      &.active {
        transform: translateY(0%);
      }
    }
    &__item {
      margin-bottom: 20px;
    }
    &__item + .menu__item {
      margin-left: 0;
    }
    &__link {
      padding: 5px;
    }
  }
  .burger {
    display: block;
    order: 1;
    z-index: 2;
  }
  .logo {
    order: -2;
  }
  // .footer {
  //   &__content-inner {
  //     flex-wrap: wrap;
  //   }
  //   &__content-box {
  //     width: 300px;
  //   }
  //   &__content-descr {
  //     padding-top: 55px;
  //   }
  //   &__content-address {
  //     margin-right: 40px;
  //   }
  // }
}
@media (max-width: 900px) {
  .footer {
    &__content-address {
      margin-right: 30px;
    }
    &__content-input {
      width: 100%;
    }
    &__content-btn {
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
    }
    &__content-subtitle {
      display: block;
    }
  }
}
@media (max-width: 800px) {
  .footer {
    &__content-inner {
      flex-wrap: wrap;
    }
    &__content-address {
      order: -2;
    }
    &__content-descr {
      order: -1;
      width: 335px;
    }
    &__content-box,
    &__content-account {
      padding-top: 40px;
    }
  }
}
@media (max-width: 700px) {
  .footer {
    &__content-descr {
      padding-top: 16px;
    }
    &__copy-inner {
      flex-wrap: wrap;
    }
    &__copy-text {
      text-align: center;
      margin: 0 auto;
    }
    &__copy-breadcrumbs {
      margin: 0 auto;
    }
  }
}
@media (max-width: 600px) {
  .header {
    &__navigation {
      order: 0;
      flex-basis: 100%;
      margin-top: 30px;
      justify-content: space-around;
    }
    &__inner {
      flex-wrap: wrap;
    }
  }
  .footer {
    &__content-descr {
      width: 100%;
    }
    &__content-address {
      margin-bottom: 30px;
      width: 100%;
    }
    &__content-subtitle {
      display: inline-block;
    }
    &__content-text {
      width: 100%;
      padding-bottom: 8px;
    }
  }
}
@media (max-width: 400px) {
  .header {
    &__navigation-box {
      width: 155px;
      height: 51px;
    }
    &__navigation-search {
      width: 45px;
      height: 45px;
      margin-right: 8px;
    }
    &__navigation-btn {
      width: 40px;
      height: 40px;
      margin-left: 8px;
    }
  }
}
@media (max-width: 440px) {
  .footer {
    &__content-box {
      margin: 0 auto;
      text-align: center;
    }
    &__content-account {
      margin: 0 auto;
      text-align: center;
    }
    &__copy-breadcrumbs {
      overflow-x: scroll;
    }
  }
}
