// DMSans
%d-b {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}
%d-m {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
}
%d-r {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}
// DMSans
// rubik
%r-r {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}
%r-m {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}
// rubik
