// DMSans
%d-b {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}
%d-m {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
}
%d-r {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}
// DMSans
// rubik
%r-r {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}
%r-m {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}
// rubik

// color
$blue: #436372;
$boulder: #7b7b7b;
$cello: #234969;
$white: #ffffff;
$dianne: #243f4d;
$gore: #1f2044;
$apricode: #a3bbc8;
$tundora: #414141;
$scorpion: #585858;
$title: #1a1a1a;
$btn: #8b8b8b;
$dianne: #243f4d;
