@import "reset";
@import "global";
@import "vars";
@import "libs";
@import "fonts";

// header
.header {
  &__container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 0 44px;
  }
  &__navigation {
    display: flex;
    align-items: center;
  }
  &__navigation-search {
    width: 51px;
    height: 51px;
    background-color: rgba(#a3bbc8, 0.2);
    border-radius: 50%;
    border: none;
    position: relative;
    margin-right: 21px;
    cursor: pointer;
    transition: background-color 0.5s;
    & .cls-1 {
      fill: #243f4d;
    }
    &:hover {
      background-color: #243f4d;
      .cls-1 {
        fill: #fff;
      }
    }
  }
  &__navigation-box {
    width: 178px;
    height: 51px;
    background-color: #fcd7b6;
    border-radius: 29px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 32px;
      background-color: #fff;
      left: 50%;
      top: 10px;
    }
  }
  &__navigation-likes {
    position: absolute;
    left: 42px;
    top: 15px;
  }
  &__navigation-num--likes {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 12px;
    top: -2px;
    font-size: 10px;
    @extend %d-r;
    color: $dianne;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__navigation-market {
    position: absolute;
    top: 15px;
    right: 43px;
  }
  &__navigation-num--market {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -8px;
    font-size: 10px;
    @extend %d-r;
    color: $dianne;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__navigation-btn {
    width: 51px;
    height: 52px;
    border-radius: 50%;
    background-color: #a3bbc8;
    padding: 0;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    transition: all 0.5s;
    &:hover {
      background-color: #243f4d;
    }
  }
  &__navigation-btn .cls-1 {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
}
// header
.menu {
  &__list {
    display: flex;
  }
  &__item + .menu__item {
    margin-left: 30px;
  }
  &__link {
    font-size: 15px;
    @extend %r-m;
    color: $blue;
  }
  &__link--active {
    text-decoration: underline;
    color: #000;
  }
}
.top__slider {
  background-image: url(../images/slider__top-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 820px;
  max-width: 1790px;
  padding: 0 15px;
  margin: 0 auto;
  &-item {
    padding-top: 217px;
  }
  &-box {
    display: flex;
    justify-content: space-between;
  }
  &-content {
    width: 400px;
  }
  &-title {
    font-size: 68px;
    @extend %r-m;
    color: $cello;
    line-height: 70px;
    margin-bottom: 26px;
  }
  &-text {
    margin-bottom: 30px;
    width: 360px;
    font-size: 18px;
    color: $blue;
  }
  &-btn {
    width: 200px;
    height: 60px;
    background-color: $apricode;
    display: block;
    font-size: 15px;
    line-height: 12px;
    @extend %r-m;
    color: $white;
    padding: 25px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/slider-icons.svg);
      width: 22px;
      height: 9px;
      top: 24px;
      right: 18px;
    }
  }
  &-images {
    width: 640px;
    height: 264px;
    object-fit: cover;
    margin-top: 87px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    padding-top: 176px;
    li {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba(#ffffff, 0.3);
      margin: 0 6px;

      button {
        border: none;
        background-color: transparent;
        font-size: 11px;
        line-height: 28px;
        padding-left: 11px;
        color: $dianne;
        cursor: pointer;
      }
      &.slick-active {
        background-color: #fff;
      }
    }
  }
}
// advantages
.advantages {
  background-color: rgba(#fcd7b6, 0.2);
  &-container {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 100%;
    padding: 48px 48px 22px 48px;
  }
  &__item:not(:last-child) {
    border-right: 1px solid rgba(#243f4d, 0.1);
  }

  &__content {
    padding-left: 80px;
    background-repeat: no-repeat;
    background-position: top left;
  }
  &__content--one {
    background-image: url(../images/icons/advantages-icon-1.svg);
  }
  &__content--two {
    background-image: url(../images/icons/advantages-icon-2.svg);
  }
  &__content--three {
    background-image: url(../images/icons/advantages-icon-3.svg);
  }
  &__content-title {
    font-size: 18px;
    @extend %d-b;
    color: $tundora;
    margin-bottom: 10px;
    overflow: hidden;
  }
  &__content-text {
    font-size: 16px;
    @extend %d-r;
    color: $scorpion;
    width: 240px;
  }
}
// advantages
// products
.products {
  padding: 74px 0 217px;
  &-list__size {
    margin-bottom: 30px;
  }
  &__title {
    text-align: center;
    margin-bottom: 29px;
  }
  &__button {
    text-align: center;
    margin-bottom: 60px;
  }
  &__btn {
    font-size: 16px;
    @extend %d-b;
    cursor: pointer;
    border: none;
    color: $btn;
    margin: 0 8px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }
  &__item-imgbox {
    height: 380px;
    position: relative;
    padding: 27px 15px 35px 15px;
    // overflow: hidden;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover .products-cards {
      opacity: 1;
    }
  }
  &__item-images {
    max-width: 225px;
    max-height: 206px;
    margin: 0 auto;
  }
  &__item {
    width: 270px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &.products__item--list {
      width: 100%;
      &.products__item {
        box-shadow: none;
        min-height: 501px;
      }
      .products__item-imgbox {
        margin-right: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
      }
      .products__item-border {
        border: solid 2px #f2f2f2;
        width: 370px;
        height: 501px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .products__item-images {
        max-width: 323px;
        min-height: 338px;
      }
      .products__item__box {
        max-width: 400px;
        text-align: left;
        margin-left: 53px;
      }
      .products__items-content {
        margin-top: 0;
      }
      .products__item-title {
        font-size: 40px;
        color: $dianne;
        @extend %r-r;
        margin-bottom: -10px;
        padding-top: 58px;
      }
      .products__item__stars {
        display: block;
        margin-bottom: 35px;
      }
      .products__item-price {
        font-size: 30px;
        @extend %r-r;
        color: #333333;
        margin-bottom: 26px;
        display: block;
      }
      .products__item__text {
        display: block;
        margin-bottom: 34px;
        width: 404px;
      }
      .products-cards {
        opacity: 1;
        transform: translate(0%, 0%);
        position: inherit;
      }
      .products-cards__item {
        margin: 5px;
      }
      .products-cards__market {
        display: none;
      }
      .products-cards__search,
      .products-cards__like {
        width: 50px;
        height: 50px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        background-color: #ffffff;
        border-radius: 0%;
        &:hover {
          background-color: #a3bbc8;
          .cls-1 {
            fill: #fff;
          }
        }
      }
    }
  }
  &-cards {
    transition: opacity 0.5s;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  &-cards__item {
    margin: 0 8px;
  }
  &-cards__search,
  &-cards__market,
  &-cards__like {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: background-color 0.5s, fill 0.5s;
    .cls-1 {
      fill: #a3bbc8;
      width: 20px;
      height: 20px;
    }
    &:hover {
      background-color: #a3bbc8;
      .cls-1 {
        fill: #fff;
      }
    }
  }
  &__items-content {
    margin-top: auto;
  }
  &__item-title {
    font-size: 16px;
    line-height: 2.5;
    color: $dianne;
  }
  &__item-price {
    @extend %d-b;
    font-size: 16px;
    color: #e0e8ed;
  }
  &__item__text {
    display: none;
  }
  &__item__stars {
    display: none;
  }
  .mixitup-control-active {
    color: $title;
  }
}
// products
// info
.info {
  margin-bottom: 86px;
  &__container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  // &__item {
  //   min-height: 390px;
  //   max-width: 870px;
  //   width: 100%;
  //   background-color: rgba(#fcd7b6, 0.4);
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   align-items: flex-end;
  // }
  // &__item-img {
  //   position: absolute;
  //   top: -102px;
  //   left: 137px;
  // }
  // &__item-content {
  //   width: 340px;
  //   color: $dianne;
  //   margin-top: 100px;
  //   margin-right: 141px;
  // }
  // &__item-content--two {
  //   margin-top: 83px;
  //   margin-right: 99px;
  // }
  &__item {
    min-height: 390px;
    max-width: 870px;
    width: 100%;
    background-color: rgba(#fcd7b6, 0.4);
    position: relative;
    display: flex;
  }
  &__item-img {
    width: 233px;
    height: 435px;
    object-fit: cover;
    margin-top: -114px;
    margin-left: 137px;
  }
  &__item-content {
    width: 340px;
    color: $dianne;
    margin: 81px 0 0 15px;
  }
  &__item-content--two {
    margin: 70px 0 0 57px;
  }
  &__item-title {
    font-size: 26px;
    @extend %d-b;
    margin-bottom: 17px;
  }
  &__item-text {
    font-size: 16px;
  }
  &__item-link {
    font-size: 15px;
    @extend %r-m;
    line-height: 0.8;
    color: $blue;
    display: inline-block;
    margin-top: 30px;
    border-radius: 5px;
    border: solid 1px #436372;
    padding: 24px 93px 19px 22px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url(../images/icons/arrow.svg);
      background-repeat: no-repeat;
      top: 26px;
      right: 26px;
    }
  }
}
// info
// new-design
.new-design {
  margin-bottom: 87px;
  &__title {
    text-align: center;
    margin-bottom: 29px;
  }
  &__button {
    text-align: center;
    margin-bottom: 71px;
  }
  &__btn {
    font-size: 16px;
    @extend %d-b;
    cursor: pointer;
    border: none;
    color: $btn;
    margin: 0 8px;
    border: none;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }
  &__item {
    position: relative;
    background-color: #f8f8f8;
  }
  &__content {
    width: 169px;
    position: absolute;
    top: 27px;
    left: 38px;
  }
  &__content-title {
    font-size: 20px;
    @extend %d-b;
    color: $title;
    margin-bottom: 21px;
  }
  &__link {
    font-size: 16px;
    @extend %d-b;
    color: $apricode;
  }
  &__img {
    width: 370px;
    height: 246px;
    object-fit: cover;
  }
  .mixitup-control-active {
    color: $title;
  }
}
// new-design
// popup
.popup {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 123px;
}
// popup
// articles
.articles {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }
  &__link {
    font-size: 16px;
    color: $mine;
    @extend %d-b;
    padding-right: 25px;
    position: relative;
    &::after {
      content: ">";
      width: 7px;
      height: 12px;
      position: absolute;
      right: 0;
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 370px;
    min-height: 420px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  &__item-img {
    width: 370px;
    height: 250px;
    object-fit: cover;
  }
  &__item-link {
    font-size: 14px;
    line-height: 20px;
    color: $white;
    @extend %r-r;
    border-radius: 15px;
    background-color: #a3bbc8;
    padding: 10px 31px;
    text-transform: uppercase;
    position: absolute;
    top: 233px;
    left: 28px;
  }
  &__item-content {
    background-color: #fff;
    padding: 0 27px 28px 27px;
    min-height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__item-text {
    font-size: 18px;
    color: $mine;
    @extend %d-m;
    padding-bottom: 18px;
    padding-top: 29px;
    margin-bottom: auto;
  }
  &__item-box {
    display: flex;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
  }
  &__item-box-date {
    font-size: 12px;
    @extend %r-r;
    color: #222933;
    margin-right: 31px;
    position: relative;
    padding-left: 19px;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/date.svg);
      top: 6px;
      left: 0;
      width: 14px;
      height: 14px;
    }
  }
  &__item-box-admin {
    font-size: 12px;
    @extend %r-r;
    color: #222933;
    text-transform: uppercase;
    position: relative;
    padding-left: 17px;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/user.svg);
      top: 7px;
      left: 0;
      width: 14px;
      height: 14px;
    }
  }
}
// articles
// partners
.partners {
  background-color: rgba(#fcd7b6, 0.2);
  margin-bottom: 79px;
  &__items {
    min-height: 437px;
    margin-top: -215px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 91px;
  }
  &__item {
    padding-bottom: 90px;
  }
}
// partners
.footer {
  flex: 0 0 auto;
  &__content {
    padding-bottom: 77px;
    border-bottom: 1px solid #a3bbc8;
  }
  &__content-inner {
    display: flex;
    justify-content: space-between;
  }
  &__content-address {
    width: 200px;
    color: $boulder;
    @extend %r-r;
    font-size: 14px;
  }
  &__content-address__name {
    padding: 21px 0 7px;
    line-height: 1.71;
  }
  &__content-address__phone {
    line-height: 2.29;
    padding-bottom: 9px;
  }
  &__content-phone,
  &__content-email {
    color: $boulder;
  }
  &__content-subtitle {
    text-transform: uppercase;
  }
  &__content-box {
    padding-top: 16px;
    width: 200px;
  }
  &__content-account {
    padding-top: 16px;
    width: 200px;
  }
  &__content-title {
    margin-bottom: 21px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.31;
    @extend %d-b;
    color: $gore;
  }
  &__content-link {
    color: $boulder;
    line-height: 2.29;
  }
  &__content-descr {
    padding-top: 16px;
    width: 274px;
  }
  &__content-text {
    color: $boulder;
    padding-bottom: 32px;
    width: 240px;
  }
  &__content-input {
    width: 170px;
    height: 38px;
    background-color: rgba(#fcd7b6, 0.2);
    border: none;
    padding: 14px 16px;
    font-size: 12px;
    @extend %d-r;
    color: $cello;
    &::placeholder {
      color: $cello;
      font-size: 12px;
      @extend %d-r;
    }
  }
  &__content-btn {
    background-color: #a3bbc8;
    width: 100px;
    height: 38px;
    line-height: 1.5;
    color: $white;
    @extend %d-r;
    margin-left: -4px;
    cursor: pointer;
  }
  &__copy-inner {
    display: flex;
    justify-content: space-between;
    padding: 17px 0 17px;
  }
  &__copy-text {
    line-height: 2.29;
    color: $boulder;
  }
  &__copy-breadcrumbs {
    display: flex;
  }
  &__copy-item + .footer__copy-item {
    margin-left: 35px;
  }
  &__copy-item {
    position: relative;
    &::after {
      content: "|";
      position: absolute;
      right: -20px;
    }
    &:last-child::after {
      display: none;
    }
  }
  &__copy-link {
    line-height: 2.29;
    color: $boulder;
  }
}
.footer--active {
  text-decoration: underline;
  @extend %r-m;
  color: #000;
}
// top
.top {
  padding-bottom: 50px;
  &__inner {
    background-color: rgba(#a3bbc8, 0.2);
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 36px;
    line-height: 24px;
    @extend %r-r;
    color: #222933;
    margin-bottom: 10px;
  }
}
// top
// breadcrumbs
.breadcrumbs {
  &__list {
    display: flex;
  }
  &__item {
    margin: 0 5px;
    &::after {
      content: "/";
      padding-left: 10px;
    }
    &:last-child::after {
      display: none;
    }
  }
  &__link {
    font-size: 14px;
    @extend %r-r;
    line-height: 1.71;
    color: rgba(34, 41, 51, 0.6);
  }
  &__link--active {
    @extend %r-m;
    color: #000;
  }
}
// breadcrumbs
// modal
.modal {
  padding-top: 98px;
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  &-form {
    margin-bottom: 120px;
  }
  &-form__text {
    font-size: 14px;
    color: $blue;
    margin-bottom: 15px;
    @extend %r-r;
  }
  &-form__input {
    width: 100%;
    display: block;
    height: 60px;
    padding: 0 10px;
    border: solid 2px #f6f6f6;
  }
  &-form__box {
    margin-bottom: 28px;
  }
  &-form__label-btn {
    display: block;
    width: 100%;
    background-color: #a3bbc8;
    text-align: center;
    padding: 22px 0;
    color: #fffefe;
    font-size: 18px;
    @extend %r-m;
    margin: 37px 0 21px;
  }
  &-form__bo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 23px;
    margin-bottom: 25px;
    border-bottom: 2px solid #f6f6f6;
  }
  &-form__problem,
  &-form__problem-link {
    color: $blue;
    @extend %r-r;
    font-size: 14px;
  }
  &__link {
    color: $blue;
    @extend %r-r;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-bottom: 12px;
  }
  &__btn {
    display: block;
    text-align: center;
    font-size: 18px;
    @extend %r-m;
    color: $dianne;
    padding: 15px 0;
    border: solid 2px #a3bbc8;
  }
}
.partners-two {
  background-color: rgba(#fcd7b6, 0.2);
  padding: 82px 0 92px;
  margin-bottom: 60px;
  // min-height: 251px;
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
}
// modal
// mission
.mission {
  margin: 100px 0 128px;

  &__img {
    width: 570px;
    height: 675.6px;
    object-fit: cover;
  }
  &__inner {
    display: flex;
  }
  &__box {
    max-width: 550px;
    width: 100%;
    margin-left: 46px;
    padding-top: 103px;
  }
  &__content-years {
    display: flex;
    align-items: center;
    margin-bottom: 53px;
  }
  &__content-num {
    font-size: 140px;
    line-height: 32px;
    color: $apricode;
    margin-right: 29px;
    @extend %r-b;
  }
  &__content-text {
    width: 83px;
    font-size: 16px;
  }
  &__title {
    margin-bottom: 41px;
  }
  &__text {
    padding-bottom: 57px;
    margin-bottom: 39px;
    border-bottom: 3px solid rgba(#09316f, 0.1);
  }
  &__items {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 37px;
  }
  &__item {
    padding-left: 53px;
    position: relative;
  }
  &__item--one::before,
  &__item--two::before,
  &__item--three::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
  }
  &__item--one::before {
    background-image: url(../images/icons/mission-icons-1.svg);
    width: 37px;
    height: 38px;
  }
  &__item--two::before {
    background-image: url(../images/icons/mission-icons-2.svg);
    width: 44px;
    height: 40px;
  }
  &__item--three::before {
    background-image: url(../images/icons/mission-icons-3.svg);
    width: 43px;
    height: 42px;
  }
  &__item--one {
    padding-right: 24px;
  }
  &__item--two {
    padding-right: 24px;
  }
  &__item--one::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    width: 1px;
    height: 81px;
    background-color: rgba(#09316f, 0.2);
  }
  &__item--two::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    width: 1px;
    height: 81px;
    background-color: rgba(#09316f, 0.2);
  }
  &__item-num {
    font-size: 36px;
    color: $dianne;
    @extend %d-b;
    margin-bottom: 13px;
  }
  &__item-descr {
    font-size: 16px;
    @extend %d-r;
    color: #4c4c4c;
  }
}
// mission
// achievements
.achievements {
  background-color: #fcd7b6;
  padding: 96px 0 43px;
  margin-bottom: 128px;
  text-align: center;
  color: $dianne;
  @extend %d-b;
  &__inner {
    display: flex;
    justify-content: space-around;
  }
  &__num {
    font-size: 36px;
    margin: 23px 0 27px;
    display: block;
  }
  &__text {
    font-size: 18px;
  }
}
// achievements
// team
.team {
  margin-bottom: 95px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 305px;
    margin-right: 98px;
    flex: none;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__text {
    font-size: 16px;
    color: $dianne;
    margin-bottom: 50px;
    @extend %r-r;
  }
  &__btn {
    font-size: 15px;
    @extend %r-m;
    color: $white;
    padding: 19px 60px 19px 18px;
    border-radius: 5px;
    background-color: #a3bbc8;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/team-icons.svg);
      width: 15px;
      height: 11px;
      top: 22px;
      right: 11px;
    }
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
  }
  &__gallery-item {
    margin-bottom: 35px;
  }
  &__gallery-item:nth-child(odd) {
    margin-right: 27px;
  }
  &__gallery-img {
    width: 370px;
    height: 320px;
    object-fit: cover;
  }
  &__gallery-info {
    width: 325px;
    min-height: 111px;
    box-shadow: 0px 6px 57px 0 rgba(37, 37, 37, 0.05);
    background-color: #ffffff;
    padding: 24px 13px 28px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: -68px;
  }
  &__gallery-box {
    width: 170px;
  }
  &__gallery-title {
    font-size: 22px;
    line-height: 26px;
    color: $blue;
    @extend %d-b;
    margin-bottom: 4px;
  }
  &__gallery-text {
    font-size: 16px;
    line-height: 30px;
    @extend %r-r;
    color: $comet;
  }
  &__gallery-social {
    display: flex;
  }
  &__gallery-link {
    width: 41px;
    height: 41px;
    background-color: #f6f6f6;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    transition: all 0.5s;
    &:hover {
      background-color: #fff;
    }
  }
}
// team
// personal-information
.personal-information {
  margin: 100px 0 105px;
  &__types {
    margin-bottom: 54px;
  }
  &__title {
    font-size: 24px;
    @extend %r-m;
    color: $dianne;
    line-height: 40px;
    margin-bottom: 15px;
  }
  &__list {
    list-style: none;
    counter-reset: my-counter;
  }
  &__item {
    counter-increment: my-counter;
    font-size: 16px;
    @extend %r-r;
    line-height: 30px;
    margin-bottom: 21px;
    position: relative;
  }
  &__item::before {
    content: "0" counter(my-counter);
    padding-right: 14px;
  }
  &__box {
    margin-bottom: 43px;
  }
  &__subtitle {
    font-size: 24px;
    @extend %r-m;
    color: $dianne;
    line-height: 40px;
    margin-bottom: 23px;
  }
  &__text {
    font-size: 16px;
    color: $dianne;
    @extend %r-r;
  }
}
// personal-information
// shop
.shop {
  padding-top: 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &-filter {
    width: 300px;
    padding-right: 30px;
  }
  &-content__buttons {
    margin-bottom: 30px;
    margin-left: 40px;
  }
  &-content__btn {
    border: none;
    cursor: pointer;
    margin-left: 30px;
    background-color: transparent;
  }
  &-content__btn--active {
    path {
      fill: #fe3e57;
    }
  }
  &-content__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .products__item--list {
      margin-bottom: 40px;
    }
  }
  &-pagination {
    padding: 110px 0 120px;
    display: flex;
    justify-content: center;
  }
}
// shop
// filter
.filter {
  &-title {
    font-size: 18px;
    @extend %d-b;
    color: $dianne;
    margin-bottom: 25px;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 39px;
      height: 3px;
      border-radius: 1px;
      background-color: #a3bbc8;
      margin-left: 17px;
      margin-top: 12px;
    }
  }
  // filter-category
  &-category {
    margin-bottom: 49px;
  }
  &-category__input {
    @extend %checkbox;

    &:checked + .filter-category__box {
      background-color: rgba(#000, 0.2);
    }
  }
  &-category__box {
    width: 270px;
    height: 43px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
  }
  &-category__text {
    font-size: 16px;
    @extend %r-r;
    color: $dianne;
  }
  // filter-category
  // filter-price
  &-price {
    margin-bottom: 63px;
  }
  &-price__box {
    display: flex;
  }
  &-price__from,
  &-price__to {
    font-size: 14px;
    @extend %r-r;
    color: $dianne;
  }
  &-price__from {
    margin-right: 180px;
  }
  // filter-price
  // filter-brand
  &-brand {
    margin-bottom: 43px;
  }
  &-brand__input {
    @extend %checkbox;
    &:checked + .filter-brand__box {
      background-color: rgba(#a3bbc8, 0.2);
      border-radius: 5px;
    }
  }
  &-brand__box {
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
  }
  &-brand__text {
    font-size: 16px;
    @extend %r-r;
    color: $dianne;
  }
  // filter-brand
  // filter-products
  &-products__item {
    display: flex;
    margin-bottom: 16px;
  }
  &-products__imgbox {
    border: solid 2px #f2f2f2;
    width: 71px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-products__content {
    margin-left: 28px;
    color: #333;
  }
  &-products__subtitle {
    font-size: 14px;
    color: #333;
    @extend %r-r;
    margin-bottom: 5px;
  }
  &-products__stars {
    margin-left: -6px;
  }
  &-products__price {
    margin-top: 11px;
    font-size: 15px;
    @extend %r-r;
  }
  // filter-products
}
.irs--flat .irs-handle {
  top: 4px;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
  cursor: pointer;
}
.irs--flat .irs-handle > i:first-child {
  display: none;
}
.irs--flat .irs-line {
  top: 9px;
  height: 3px;
  border-radius: 4px;
}
.irs--flat .irs-bar {
  top: 9px;
  height: 4px;
  background-color: #a3bbc8;
}
.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}
// filter
// pagination
.pagination {
  margin: 94px 0 140px;
  &__items {
    display: flex;
  }
  &__item {
    border: solid 1px #a3bbc8;
    background-color: #fff;
    transition: all 0.5s;
    & + .pagination__item {
      margin-left: 16px;
    }
    &:hover {
      background-color: #a3bbc8;
      .pagination__link {
        color: #fff;
      }
    }
  }
  &__link {
    padding: 20px 19px;
    font-size: 16px;
    @extend %r-r;
    color: $dianne;
  }
}
// pagination
// pendant
.pendant {
  margin: 141px 0 43px;
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
  }
  &__slider {
    width: 550px;
    margin-right: 63px;
    display: flex;
    justify-content: space-between;
  }
  &__slider-carts__box {
    margin-bottom: 25px;
    width: 138px;
    height: 160px;
    border: solid 2px #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }
  &__slider-carts__img {
    width: 107px;
    height: 147px;
    object-fit: cover;
  }

  &__slider-big__img {
    width: 233px;
    height: 405px;
    object-fit: cover;
  }
  &__slider-big {
    width: 387px;
    height: 530px;
    border: solid 2px #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__slider-big__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    width: 100%;
  }
  &__content-title {
    margin-bottom: 26px;
    font-size: 40px;
    @extend %r-r;
    color: #333;
    line-height: 0.65;
  }
  &__content-stars {
    margin-bottom: 30px;
  }
  &__content-price {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 17px;
    color: #333333;
    display: block;
  }
  &__content-text {
    margin-bottom: 23px;
    color: #243f4d;
    font-size: 16px;
    max-width: 530px;
    line-height: 1.88;
  }
  &__content-form {
    margin-bottom: 46px;
    position: relative;
  }
  &__content-input {
    font-size: 15px;
    @extend %r-r;
    color: #333;
    .jq-number__field {
      width: 50px;
      border: 1px none;
      border: solid 1px #a3bbc8;
      box-shadow: none;
    }
    .jq-number__field input {
      width: 50px;
      height: 51px;
      padding: 8px 9px;
      border: none;
      background: none;
      // padding: 22px 22px;
    }
    .jq-number__spin {
      position: absolute;
      top: 0;
      width: 50px;
      height: 53px;
      border: solid 1px #a3bbc8;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      user-select: none;
      cursor: pointer;
    }
    .jq-number__spin.minus {
      left: -49px;
      &::after {
        content: "";
        border: none;
        width: 6px;
        height: 1px;
        background-color: #333;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .jq-number__spin.plus {
      right: -13px;
      top: 0;
      &::after {
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 1px;
        border: none;
        background-color: #333;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: 6px;
        border: none;
        background-color: #333;
        z-index: 1;
      }
    }
    .jq-number {
      position: relative;
      vertical-align: middle;
      padding: 0 0 0px 0;
      right: -50px;
    }
  }
  &__content-btn {
    color: $white;
    @extend %r-r;
    padding: 21px 51px;
    letter-spacing: 1.13px;
    border-radius: 5px;
    background-color: #a3bbc8;
    text-transform: uppercase;
    margin-left: 76px;
  }
  &__content-textdescr {
    display: block;
    font-size: 16px;
    @extend %r-r;
    color: $dianne;
  }
  .jq-number {
    right: -52px;
  }
  .pendant__content-input .jq-number__field input {
    padding-left: 18px;
  }
}
// pendant
// tabs
.tabs {
  margin-bottom: 123px;
  color: $dianne;
  &-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &-item {
    margin-right: 13px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &-link {
    padding: 20px 23px;
    background-color: rgba(#a3bbc8, 0.2);
    border-radius: 5px;
    font-size: 18px;
    @extend %r-m;
    color: $dianne;
    &.active {
      background-color: #a3bbc8;
      color: $white;
    }
  }
  &-text {
    font-size: 16px;
    @extend %r-r;
    margin-bottom: 10px;
    color: $dianne;
  }
}
// tabs
// related-products
.related-products {
  margin-bottom: 120px;
  &__title {
    margin-bottom: 71px;
  }
  &__slider {
    .slick-btn {
      border: solid 2px rgba(#a3bbc8, 0.2);
      padding: 20px 14px;
      position: absolute;
      top: -114px;
      right: 0;
      cursor: pointer;
    }
    .slick-disabled {
      border: solid 2px #a3bbc8;
    }
    .slick-left {
      top: -114px;
      right: 69px;
      z-index: 1;
    }
  }
  .__slider-box {
    width: 270px;
  }
}
// related-products
// blog
.blog {
  padding: 110px 0 50px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 830px;
    width: 100%;
    margin-right: 70px;
  }
  &__content-item {
    @extend %r-r;
    margin-bottom: 50px;
  }
  &__content-img {
    max-width: 828px;
    max-height: 500px;
    object-fit: cover;
    background-color: #fff;
    margin-bottom: 41px;
  }
  &__content-box {
    width: 275px;
    height: 71px;
    background-color: #a3bbc8;
    padding: 21px 22px 29px 22px;
    margin-top: -122px;
    position: relative;
    z-index: 1;
    margin-bottom: 41px;
  }
  &__content-box-date,
  &__content-box-admin {
    font-size: 12px;
    color: $white;
    position: relative;
    padding-left: 20px;
    text-transform: uppercase;
    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      top: 0;
      left: 0;
    }
  }
  &__content-box-admin::after {
    background-image: url(../images/icons/blog-user.svg);
  }
  &__content-box-date {
    margin-right: 24px;
    &::after {
      background-image: url(../images/icons/blog-date.svg);
    }
  }
  &__content-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 34px;
  }
  &__content-text {
    max-width: 790px;
    width: 100%;
    margin-bottom: 27px;
    font-size: 16px;
    color: $dianne;
  }
  &__content-link {
    display: inline-block;
    border: solid 1px #a3bbc8;
    background-color: #ffffff;
    width: 180px;
    height: 60px;
    font-size: 15px;
    color: #a3bbc8;
    padding: 14px 20px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 22px;
      height: 9px;
      top: 25px;
      right: 20px;
      background-image: url(../images/icons/blog-right-icons.svg);
    }
  }
  &__navigation {
    width: 270px;
  }
  &__navigation-form {
    margin-bottom: 49px;
  }
  &__navigation-input {
    width: 220px;
    height: 43px;
    border-radius: 5px;
    border: 1px solid rgba(#a3bbc8, 0.4);
    background-color: transparent;
    padding: 0 20px;
  }

  &__navigation-btn {
    width: 48px;
    height: 43px;
    cursor: pointer;
    border: solid 1px #a3bbc8;
    border-radius: 5px;
    background-color: #edf1f4;
    margin-left: -5px;
  }
  &-pagination {
    margin: 76px 0 120px;
  }
  &-partners {
    background-color: rgba(#fcd7b6, 0.2);
    padding: 82px 0 92px;
  }
}
// blog
// recent-post
.recent-post {
  &__item {
    display: flex;
    margin-bottom: 22px;
  }
  &__img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  &__content {
    width: 160px;
    margin-left: 20px;
  }
  &__text {
    font-size: 14px;
    @extend %r-r;
    color: #333;
    line-height: 1.43;
    margin-bottom: 8px;
  }
  &__date {
    display: block;
    padding-left: 20px;
    font-size: 12px;
    @extend %r-r;
    color: #9a9a9a;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background-image: url(../images/icons/date.svg);
      top: 6px;
      left: 0;
    }
  }
}
// recent-post
// contact
.contact {
  padding-top: 100px;
  &__subtitle {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    color: $apricode;
    @extend %r-b;
  }
  &__title {
    text-align: center;
    margin-bottom: 76px;
    font-size: 35px;
    color: $blue;
    @extend %d-b;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 111px;
  }
  &__item {
    width: 371px;
    min-height: 383px;
    margin-right: 30px;
    transition: all 0.3s;
    background-color: #fbfbfb;
    text-align: center;
    padding: 70px 10px 80px;
    border: solid 2px #fbfbfb;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border: solid 2px #a3bbc8;
      .contact__item-icons {
        background-color: #a3bbc8;
        path {
          fill: #fff;
        }
      }
    }
  }
  &__item-icons {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    box-shadow: 0px 6px 57px 0 rgba(37, 37, 37, 0.05);
    background-color: #ffffff;
    margin: 0 auto 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    path {
      fill: rgb(163, 187, 200);
    }
  }
  &__item-title {
    font-size: 20px;
    color: #222222;
    @extend %d-b;
    margin-bottom: 12px;
  }
  &__item-name {
    display: block;
    font-size: 16px;
    color: $comet;
    @extend %r-r;
  }
  &__item-link {
    font-size: 16px;
    color: $comet;
    @extend %r-r;
  }
  &__list {
    display: flex;
    margin-bottom: 125px;
  }
  &__form {
    max-width: 620px;
    width: 100%;
    margin-right: 50px;
  }
  &__form-input {
    width: 297px;
    height: 50px;
    background-color: rgba(#f5f5f5, 0.5);
    padding: 0 20px;
    border: none;
    &::placeholder {
      font-size: 16px;
      color: rgba(86, 88, 114, 0.8);
      @extend %r-r;
      text-transform: uppercase;
    }
    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      top: 18px;
      right: 15px;
      background-image: url(../images/icons/team-icons.svg);
    }
  }
  &__form-textarea {
    background-color: rgba(#f5f5f5, 0.5);
    resize: none;
    max-width: 620px;
    width: 100%;
    height: 175px;
    margin: 20px 0 20px;
    padding: 20px;
    border: none;
    &::placeholder {
      font-size: 16px;
      color: rgba(86, 88, 114, 0.8);
      @extend %r-r;
      text-transform: uppercase;
    }
  }
  &__form-textarea__box {
    max-width: 620px;
    width: 100%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 18px;
      height: 14px;
      top: 40px;
      right: 28px;
      background-image: url(../images/icons/sms.svg);
    }
  }
  &__form-input__box {
    width: 297px;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 18px;
      height: 12px;
      top: 20px;
      right: 26px;
      background-image: url(../images/icons/input-icons.svg);
    }
  }
  &__form-input__boxone {
    width: 297px;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      top: 18px;
      right: 23px;
      background-image: url(../images/icons/user.svg);
    }
  }
  &__form-btn {
    cursor: pointer;
    border: none;
    padding: 19px 45px;
    border-radius: 5px;
    background-color: #a3bbc8;
    text-transform: uppercase;
    font-size: 15px;
    color: $white;
  }
}
// contact
// blog-details
.blog-details {
  &__text {
    font-size: 16px;
    @extend %r-m;
    margin-bottom: 15px;
    color: $dianne;
  }
  &__blockquote {
    color: $dianne;
    background-color: rgba(#a3bbc8, 0.2);
    padding: 25px 0 24px 40px;
    position: relative;
    margin-bottom: 40px;
    &::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 100%;
      background-color: #a3bbc8;
      top: 0;
      left: 0;
    }
  }
  &__blockquote-text {
    max-width: 697px;
    width: 100%;
    font-size: 16px;
    &:last-child {
      margin-bottom: 0;
      position: relative;
      padding-left: 45px;
      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 4px;
        background-color: #a3bbc8;
        top: 15px;
        left: 0;
      }
    }
  }
  &__descr {
    margin-bottom: 64px;
  }
  &__descr-inner {
    display: flex;
    margin-bottom: 39px;
  }
  &__descr-img {
    width: 322px;
    height: 208.9px;
    object-fit: cover;
  }
  &__descr-content {
    margin-left: 31px;
    padding-top: 21px;
  }
  &__descr-title {
    font-size: 18px;
    margin-bottom: 11px;
    color: $dianne;
    @extend %r-m;
  }
  &__descr-text {
    font-size: 16px;
    color: $comet;
    @extend %r-r;
  }
  &__designer {
    padding: 24px 0;
    border-bottom: 2px solid #ebebeb;
    border-top: 2px solid #ebebeb;
    margin-bottom: 26px;
  }
  &__designer__inner {
    display: flex;
    justify-content: space-between;
  }
  &__designer-descr {
    display: flex;
  }
  &__designer-img {
    width: 76px;
    height: 76px;
    object-fit: cover;
  }
  &__designer-box {
    margin-left: 30px;
  }
  &__designer-title {
    margin-bottom: 20px;
    font-size: 18px;
    @extend %r-m;
    color: #333;
  }
  &__designer-profesion {
    font-size: 16px;
    color: #666;
  }
  &__designer-info {
    display: flex;
  }
  &__designer-items {
    display: flex;
  }
  &__designer-item + .blog-details__designer-item {
    margin-left: 20px;
  }
  &__designer-tags,
  &__designer-share {
    font-size: 16px;
    color: #333;
  }
  &__designer-trending {
    color: #999999;
    font-size: 16px;
  }
  &__coments {
    margin-bottom: 55px;
  }
  &__coments-title {
    font-size: 24px;
    @extend %r-b;
    margin-bottom: 55px;
    color: $blue;
  }
  &__coments-item {
    display: flex;
    margin-bottom: 32px;
  }
  &__coments-item--two {
    margin-left: 132px;
  }
  &__coments-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  &__coments-content {
    margin-left: 32px;
    border-bottom: 2px solid #e0e0e0;
  }
  &__coments-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  &__coments-subtitle {
    font-size: 16px;
    @extend %r-b;
    color: $blue;
  }
  &__coments-date {
    color: #9e9e9e;
  }
  &__coments-text {
    font-size: 16px;
    margin-bottom: 14px;
    color: $comet;
  }
  &__coments-link {
    color: #526278;
    padding-right: 15px;
    position: relative;
    margin-bottom: 23px;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 6px;
      right: 0;
      background-image: url(../images/icons/arrows-right.svg);
    }
  }
  &__form {
    margin-bottom: 120px;
  }
  &__form-title {
    font-size: 24px;
    margin-bottom: 42px;
    color: $blue;
    @extend %r-b;
  }
  &-input__boxone {
    width: 400px;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background-image: url(../images/icons/user.svg);
      top: 20px;
      right: 18px;
    }
  }
  &-input__box {
    width: 400px;
    display: inline-block;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 13px;
      background-image: url(../images/icons/input-icons.svg);
      top: 20px;
      right: 18px;
    }
  }
  &-input {
    width: 400px;
    height: 50px;
    background-color: #fff;
    border: solid 1px rgba(#000000, 0.1);
    padding: 0 45px 0 20px;
    &::placeholder {
      font-size: 16px;
      @extend %r-r;
      color: #999;
    }
  }
  &-textarea__box {
    width: 830px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 13px;
      background-image: url(../images/icons/sms.svg);
      top: 43px;
      right: 26px;
    }
  }
  &-textarea {
    width: 830px;
    height: 120px;
    border: solid 1px rgba(#000000, 0.1);
    background-color: #ffffff;
    resize: none;
    margin: 20px 0 28px;
    padding: 20px 50px 20px 20px;
    &::placeholder {
      font-size: 16px;
      @extend %r-r;
      color: #999;
    }
  }
  &__title {
    margin-bottom: 20px;
  }
}

// blog-details

@import "media";
