@import "reset";
@import "libs";
@import "global";
@import "vars";
@import "fonts";

// header
.header {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 0 44px;
  }
  &__navigation {
    display: flex;
    align-items: center;
  }
  &__navigation-search {
    width: 51px;
    height: 51px;
    background-color: rgba(#a3bbc8, 0.2);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-right: 21px;
    &::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 18px;
      background-image: url(../images/icons/search.svg);
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__navigation-box {
    width: 178px;
    height: 51px;
    background-color: #fcd7b6;
    border-radius: 29px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 32px;
      background-color: #fff;
      left: 50%;
      top: 10px;
    }
  }
  &__navigation-likes {
    position: absolute;
    left: 42px;
    top: 15px;
  }
  &__navigation-num--likes {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 12px;
    top: -2px;
    font-size: 10px;
    @extend %d-r;
    color: $dianne;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__navigation-market {
    position: absolute;
    top: 15px;
    right: 43px;
  }
  &__navigation-num--market {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -8px;
    font-size: 10px;
    @extend %d-r;
    color: $dianne;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__navigation-btn {
    width: 51px;
    height: 52px;
    border-radius: 50%;
    background-color: #a3bbc8;
    padding: 0;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    transition: all 0.5s;
    &:hover {
      background-color: #243f4d;
    }
  }
  &__navigation-btn .cls-1 {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
}
// header
.menu {
  &__list {
    display: flex;
  }
  &__item + .menu__item {
    margin-left: 30px;
  }
  &__link {
    font-size: 15px;
    @extend %r-m;
    color: $blue;
  }
}
.top__slider {
  background-image: url(../images/slider__top-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 820px;
  &-item {
    padding-top: 217px;
  }
  &-box {
    display: flex;
    justify-content: space-between;
  }
  &-content {
    width: 400px;
  }
  &-title {
    font-size: 68px;
    @extend %r-m;
    color: $cello;
    line-height: 70px;
    margin-bottom: 26px;
  }
  &-text {
    margin-bottom: 30px;
    width: 360px;
    font-size: 18px;
    color: $blue;
  }
  &-btn {
    width: 200px;
    height: 60px;
    background-color: $apricode;
    display: block;
    font-size: 15px;
    line-height: 12px;
    @extend %r-m;
    color: $white;
    padding: 25px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/slider-icons.svg);
      width: 22px;
      height: 9px;
      top: 24px;
      right: 18px;
    }
  }
  &-images {
    width: 640px;
    height: 264px;
    object-fit: cover;
    margin-top: 87px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    padding-top: 176px;
    li {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba(#ffffff, 0.3);
      margin: 0 6px;

      button {
        border: none;
        background-color: transparent;
        font-size: 11px;
        line-height: 28px;
        padding-left: 11px;
        color: $dianne;
        cursor: pointer;
      }
      &.slick-active {
        background-color: #fff;
      }
    }
  }
}
// advantages
.advantages {
  background-color: rgba(#fcd7b6, 0.2);
  &-container {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 100%;
    padding: 48px 48px 22px 48px;
  }
  &__item:not(:last-child) {
    border-right: 1px solid rgba(#243f4d, 0.1);
  }

  &__content {
    padding-left: 80px;
    background-repeat: no-repeat;
    background-position: top left;
  }
  &__content--one {
    background-image: url(../images/icons/advantages-icon-1.svg);
  }
  &__content--two {
    background-image: url(../images/icons/advantages-icon-2.svg);
  }
  &__content--three {
    background-image: url(../images/icons/advantages-icon-3.svg);
  }
  &__content-title {
    font-size: 18px;
    @extend %d-b;
    color: $tundora;
    margin-bottom: 10px;
    overflow: hidden;
  }
  &__content-text {
    font-size: 16px;
    @extend %d-r;
    color: $scorpion;
    width: 240px;
  }
}
// advantages
// products
.products {
  padding: 74px 0 128px;
  &__title {
    text-align: center;
    margin-bottom: 29px;
  }
  &__button {
    text-align: center;
    margin-bottom: 60px;
  }
  &__btn {
    font-size: 16px;
    @extend %d-b;
    cursor: pointer;
    border: none;
    color: $btn;
    margin: 0 8px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  &__item {
    width: 270px;
    min-height: 380px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    margin: 0 30px 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 27px 15px 35px 15px;
    text-align: center;
    position: relative;
    &:hover .products-cards {
      opacity: 1;
    }
  }
  &-cards {
    transition: opacity 0.5s;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  &-cards__item {
    margin: 0 8px;
  }
  &-cards__search,
  &-cards__market,
  &-cards__like {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: background-color 0.5s, fill 0.5s;
    & svg {
      width: 20px;
      height: 20px;
      fill: #a3bbc8;
    }
    &:hover {
      background-color: #a3bbc8;
      .cls-1:hover {
        fill: #fff;
      }
    }
  }
  &__item-images:nth-child(1) {
    width: 186px;
    height: 195px;
  }
  &__item-images:nth-child(2) {
    width: 148px;
    height: 206px;
  }
  &__item-images:nth-child(3) {
    width: 208px;
    height: 164px;
  }
  &__item-images:nth-child(4) {
    width: 224px;
    height: 135px;
  }
  &__item-images:nth-child(5) {
    width: 236px;
    height: 162px;
  }
  &__item-images:nth-child(6) {
    width: 230px;
    height: 170px;
  }
  &__item-images:nth-child(7) {
    width: 232px;
    height: 167px;
  }
  &__item-images:nth-child(8) {
    width: 238px;
    height: 153px;
  }
  &__items-content {
    margin-top: 76px;
  }
  &__item-title {
    font-size: 16px;
    line-height: 2.5;
    color: $dianne;
  }
  .mixitup-control-active {
    color: $title;
  }
}
// products
// info
.info {
  margin-bottom: 86px;
  &__container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    min-height: 390px;
    max-width: 870px;
    width: 100%;
    background-color: rgba(#fcd7b6, 0.4);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
  &__item-img {
    position: absolute;
    top: -102px;
    left: 137px;
  }
  &__item-content {
    width: 340px;
    color: $dianne;
    margin-top: 100px;
    margin-right: 141px;
  }
  &__item-content--two {
    margin-top: 83px;
    margin-right: 99px;
  }
  &__item-title {
    font-size: 26px;
    @extend %d-b;
    margin-bottom: 17px;
  }
  &__item-text {
    font-size: 16px;
  }
  &__item-link {
    font-size: 15px;
    @extend %r-m;
    line-height: 0.8;
    color: $blue;
    display: inline-block;
    margin-top: 30px;
    border-radius: 5px;
    border: solid 1px #436372;
    padding: 24px 93px 19px 22px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url(../images/icons/arrow.svg);
      background-repeat: no-repeat;
      top: 26px;
      right: 26px;
    }
  }
}
// info
// new-design
.new-design {
  margin-bottom: 120px;
  &__title {
    text-align: center;
    margin-bottom: 29px;
  }
  &__button {
    text-align: center;
    margin-bottom: 71px;
  }
  &__btn {
    font-size: 16px;
    @extend %d-b;
    cursor: pointer;
    border: none;
    color: $btn;
    margin: 0 8px;
    border: none;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    margin-bottom: 22px;
  }
  &__content {
    width: 169px;
    position: absolute;
    top: 27px;
    left: 38px;
  }
  &__content-title {
    font-size: 20px;
    @extend %d-b;
    color: $title;
    margin-bottom: 21px;
  }
  &__link {
    font-size: 16px;
    @extend %d-b;
    color: $apricode;
  }
  &__img {
    width: 370px;
    height: 246px;
  }
  .mixitup-control-active {
    color: $title;
  }
}
// new-design
.footer {
  flex: 0 0 auto;
  &__content {
    padding-bottom: 77px;
    border-bottom: 1px solid #a3bbc8;
  }
  &__content-inner {
    display: flex;
    justify-content: space-between;
  }
  &__content-address {
    width: 191px;
    color: $boulder;
    @extend %r-r;
    font-size: 14px;
  }
  &__content-address__name {
    padding: 21px 0 7px;
    line-height: 1.71;
  }
  &__content-address__phone {
    line-height: 2.29;
    padding-bottom: 9px;
  }
  &__content-phone,
  &__content-email {
    color: $boulder;
  }
  &__content-subtitle {
    text-transform: uppercase;
  }
  &__content-box {
    padding-top: 16px;
    width: 200px;
  }
  &__content-title {
    margin-bottom: 21px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.31;
    @extend %d-b;
    color: $gore;
  }
  &__content-link {
    color: $boulder;
    line-height: 2.29;
  }
  &__content-descr {
    padding-top: 16px;
    width: 274px;
  }
  &__content-text {
    color: $boulder;
    padding-bottom: 32px;
    width: 240px;
  }
  &__content-input {
    width: 170px;
    height: 38px;
    background-color: rgba(#fcd7b6, 0.2);
    border: none;
    padding: 14px 16px;
    font-size: 12px;
    @extend %d-r;
    color: $cello;
    &::placeholder {
      color: $cello;
      font-size: 12px;
      @extend %d-r;
    }
  }
  &__content-btn {
    background-color: #a3bbc8;
    width: 100px;
    height: 38px;
    line-height: 1.5;
    color: $white;
    @extend %d-r;
    margin-left: -4px;
    cursor: pointer;
  }
  &__copy-inner {
    display: flex;
    justify-content: space-between;
    padding: 17px 0 17px;
  }
  &__copy-text {
    line-height: 2.29;
    color: $boulder;
  }
  &__copy-breadcrumbs {
    display: flex;
  }
  &__copy-item + .footer__copy-item {
    margin-left: 35px;
  }
  &__copy-item {
    position: relative;
    &::after {
      content: "|";
      position: absolute;
      right: -20px;
    }
    &:last-child::after {
      display: none;
    }
  }
  &__copy-link {
    line-height: 2.29;
    color: $boulder;
  }
}
@import "media";
